.content {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  text-align: center;
}

.left {
  border: 2px;
  border-color: black;
  border-style: dashed;
  width: 500px;
  height: 600px;
  background-color: grey;
}
.middle {
  border: 2px;
  border-color: black;
  border-style: dashed;

  width: 500px;
  height: 600px;
  background-color: grey;
}
.right {
  border: 2px;
  border-color: black;
  border-style: dashed;

  width: 500px;
  height: 600px;
  background-color: grey;
}
