mat-card {
  width: 300px;
}

mat-icon {
  position: relative;
  left: 13px;
}

.todo {
  background-color: red;
}

.inprogress {
  background-color: orange;
}

.done {
  background-color: green;
}

.listed-tasks {
  background-color: grey;
}